@import "../../../assets/sass/colors";
div {
  display: flex;
  figure {
    img {
      height: 3rem;

    }
  }
  nav {
    ul {
      display: flex;
      li {
        padding: .5rem 1rem;
        font-size: 1.5rem;
        font-weight: bold;
        list-style-type: none;

        a {
          transition: color .2s;

          &:hover {
            color: $highlight;
            transition: color .2s;
          }
        }
      }
    }
  }
}
