<main>
  <a *ngFor="let article of articles" [routerLink]="['/a/' + article.id]">
    <article>
      <section>{{ article.brief }}</section>
      <header>{{ article.title }}</header>
    </article>
  </a>
</main>
<footer>
  <div *ngIf="hasOrderContent()" class="load-previous" (click)="loadPreviousPage()"><img src="../../../../assets/images/icons/arrow_back.svg">加载更早的</div>
  <div *ngIf="!hasOrderContent()" class="load-previous">没有更多内容了...</div>
  <div *ngIf="!isInStart()" class="load-next" (click)="loadNextPage()">加载更新的<img src="../../../../assets/images/icons/arrow_forward.svg"></div>
</footer>
