<form [formGroup]="articleForm" class="form">
  <mat-form-field [appearance]="'outline'" class="title">
    <input matInput formControlName="title" placeholder="标题">
  </mat-form-field>
  <mat-slide-toggle [checked]="isArticleActivated" class="activated">是否激活</mat-slide-toggle>
  <button mat-stroked-button (click)="submit()">提交</button>
  <mat-form-field [appearance]="'outline'" class="brief">
    <textarea rows="5" matInput formControlName="brief" (keyup)="triggerUpdate()"></textarea>
  </mat-form-field>
  <div class="md-editor">
    <div class="editor">
      <mat-form-field [appearance]="'outline'" class="text-area-form-field">
        <textarea rows="50" matInput formControlName="content" (keyup)="triggerUpdate()"></textarea>
      </mat-form-field>
    </div>
    <div class="preview">
      <markdown [data]="mdContent"></markdown>
    </div>
  </div>
</form>
