@import "../assets/sass/colors.scss";
@import "../assets/sass/screens.scss";

header {
  width: 100%;
  position: fixed;
  height: 5rem;
  border-bottom: 2px solid $littleDark;
  background-color: $background;
}
div {
  max-width: 90rem;
  margin: 5rem auto 3rem auto;
  display: flex;
  justify-content: center;

  main {
    width: 48rem;
    min-height: 20rem;
  }

  aside {
    width: 21rem;
  }
}

@media screen and (max-width: $md) {
  div {
    main {
      width: 95%;
    }
  }
  aside {
    display: none;
  }
}
