<main>
  <div class="project-container" decorator="editable" data-context="theme.project.container">
    <section class="project">
      <header class="project-header content" decorator="editable" data-context="theme.project">
        <h1 class="title">Wired</h1>
        <p class="description">Typographic headline for Wired's monthly feature, Electric Word. The article is about understanding Autism — by Carl
          Zimmer. Client: Wired. US Art direction: David Moretti &amp; Victor Krummenacher.</p>
      </header>
      <div class="project-content" decorator="editable" data-context="pages" data-identity="id:p56335b9d8e9b3260fca2079e9d063f95325ec61849898918d8651">
        <div id="project-canvas" class="js-project-modules modules content">
          <div id="project-modules">
          </div>
        </div>
      </div>
    </section>
    <section class="back-to-top" decorator="editable">
      <a href="#">
        <span class="arrow">↑</span>Back to Top</a>
    </section>
    <a class="back-to-top-fixed" href="#">
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        viewBox="0 0 26 26" style="enable-background:new 0 0 26 26;" xml:space="preserve" class="icon icon-back-to-top">
        <g>
          <path d="M13.8,1.3L21.6,9c0.1,0.1,0.1,0.3,0.2,0.4c0.1,0.1,0.1,0.3,0.1,0.4s0,0.3-0.1,0.4c-0.1,0.1-0.1,0.3-0.3,0.4
              c-0.1,0.1-0.2,0.2-0.4,0.3c-0.2,0.1-0.3,0.1-0.4,0.1c-0.1,0-0.3,0-0.4-0.1c-0.2-0.1-0.3-0.2-0.4-0.3L14.2,5l0,19.1
              c0,0.2-0.1,0.3-0.1,0.5c0,0.1-0.1,0.3-0.3,0.4c-0.1,0.1-0.2,0.2-0.4,0.3c-0.1,0.1-0.3,0.1-0.5,0.1c-0.1,0-0.3,0-0.4-0.1
              c-0.1-0.1-0.3-0.1-0.4-0.3c-0.1-0.1-0.2-0.2-0.3-0.4c-0.1-0.1-0.1-0.3-0.1-0.5l0-19.1l-5.7,5.7C6,10.8,5.8,10.9,5.7,11
              c-0.1,0.1-0.3,0.1-0.4,0.1c-0.2,0-0.3,0-0.4-0.1c-0.1-0.1-0.3-0.2-0.4-0.3c-0.1-0.1-0.1-0.2-0.2-0.4C4.1,10.2,4,10.1,4.1,9.9
              c0-0.1,0-0.3,0.1-0.4c0-0.1,0.1-0.3,0.3-0.4l7.7-7.8c0.1,0,0.2-0.1,0.2-0.1c0,0,0.1-0.1,0.2-0.1c0.1,0,0.2,0,0.2-0.1
              c0.1,0,0.1,0,0.2,0c0,0,0.1,0,0.2,0c0.1,0,0.2,0,0.2,0.1c0.1,0,0.1,0.1,0.2,0.1C13.7,1.2,13.8,1.2,13.8,1.3z"></path>
        </g>
      </svg>
    </a>
  </div>
  <footer class="site-footer" decorator="editable">
    <div class="footer-text">
      Powered by Adobe Portfolio
    </div>
  </footer>
</main>