@import "../assets/sass/screens.scss";

main {
  @media (max-width: $mediaSmall) {
    width: 100%
  }
  @media (max-width: $mediaMedium) {
    width: 75%
  }
  width: 75%;
  float: left;
}

.project-covers {
  padding-bottom: 0px;
  padding-top: 25px;

  :nth-child(3n) {
    margin-left: 0;
  }
  :nth-child(3n+3) {
    clear: right;
    margin-right: 0;
  }
}

.project-cover {

  @media (min-width: $mediaMedium) {
    margin-right: 1%;
    width: 32%;
    margin-bottom: 3.5px;
  }


  float: left;
  position: relative;
  &:hover {
    .cover-rollover {
      display: block;
    }
    .has-rollover {
      display: none;
    }
    .cover-image {
      &::after {
        background-color: #fff;
        opacity: 0.4;
      }
    }
  }
  .cover-rollover {
    .preview {
      padding-top: 20%;
      padding-bottom: 20%;
      height: 60%;
    }
  }
  .cover-normal {
    .brief {
      text-align: center;
      max-height: 178px;
      padding-left: 5%;
      padding-right: 5%;
      padding-top: 40px;
      overflow: hidden;
    }
    .title {
      border-top: solid 2px #eee;
      text-align: center;
      color: #2e2e2e;
      font-size: 25px;
      font-weight: 400;
      position: sticky;
      top: 75%;
    }
  }
  .cover-image {
    &::after {
      background-color: #fff;
      opacity: 0;
    }
  }
  .cover-image-wrap {
    margin-bottom: 2%;
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
    overflow: hidden;
    position: relative;
  }
  .cover-image {
    border-radius: 0px;
    float: none;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    position: relative;
  }
  .details-wrap {
    padding-bottom: 0%;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    padding-top: 0%;
    width: 100%;
  }
  .details {
    background: rgba(255, 255, 255, 0);
    transition: background 0.3s ease;
  }
  .details-inner {
    padding-left: 0%;
    padding-right: 0%;
    overflow: hidden;
  }
  .cover {
    padding-left: 10%;
    padding-right: 10%;
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 80%;
    background-position: center center;
    background-size: cover;
    background-image: url('../assets/blank.png');
  }
}
.project-cover.hold-space .cover-image{
  &::before {
    padding-bottom: 100%;
    content: '';
    display: block;
    width: 100%;
  }
  &::after {
    transition: background-color 0.4s ease, opacity 0.4s ease;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.project-container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 100%;
  padding-bottom: 0px;
  padding-top: 0px;
}
.project {
  margin-left: 0%;
  margin-right: 0%;
  width: 100%;
}
.project-header {
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
  padding-bottom: 60px;
  padding-top: 60px;
  width: 100%;
  h1 {
    color: #222;
    font-family: tscy;
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: 50px;
    padding-bottom: 15px;
    padding-top: 0px;
    text-align: center;
    width: 100%;
  }
  .description {
    color: #999;
    font-family: tscy;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    padding-bottom: 0px;
    padding-top: 10px;
    text-align: center;
    text-transform: none;
    width: 100%;
  }
}
.back-to-top {
  clear: both;
  display: block;
  padding-bottom: 60px;
  padding-top: 60px;
  text-align: center;

  a {
    color: #999;
    font-family: tscy;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    text-transform: normal;
  }
}
