<main>
  <section class="project-covers" decorator="editable" data-context="theme.gallery.projects">
    <a decorator="editable" class="project-cover hold-space has-rollover" href="/aspiration-bank-app" data-context="pages" data-identity="id:p5768539e64523df00b7b311e21d4adf2166aeee0896255a864ef6">
        <div class="cover-image-wrap">
          <div class="cover-image">
            <style>
              @media (min-width: 0) {
                [data-identity='id:p5768539e64523df00b7b311e21d4adf2166aeee0896255a864ef6'] div.cover-rollover {
                  background-image: url('https://pro2-bar-s3-cdn-cf3.myportfolio.com/b44801ef5d32981384edc75f3a2c870b/49a7e1a9-78a7-4c7f-b8b6-f08ed5a7bfb3_rwc_0x-567x3215x3215x3215.png?h=8fda281db664f9401600fc2d793936b3');
                }
              }
            
              @media (max-width: 640px) {
                [data-identity='id:p5768539e64523df00b7b311e21d4adf2166aeee0896255a864ef6'] div.cover-rollover {
                  background-image: url('https://pro2-bar-s3-cdn-cf3.myportfolio.com/b44801ef5d32981384edc75f3a2c870b/49a7e1a9-78a7-4c7f-b8b6-f08ed5a7bfb3_rwc_0x-567x3215x3215x640.png?h=1a9dc21632cbc442af57d3764c8f12c3');
                }
              }
            
              @media (min-width: 641px) and (max-width: 1280px) {
                [data-identity='id:p5768539e64523df00b7b311e21d4adf2166aeee0896255a864ef6'] div.cover-rollover {
                  background-image: url('https://pro2-bar-s3-cdn-cf3.myportfolio.com/b44801ef5d32981384edc75f3a2c870b/49a7e1a9-78a7-4c7f-b8b6-f08ed5a7bfb3_rwc_0x-567x3215x3215x1280.png?h=2538923b06c8e99e7b1dc12d66694707');
                }
              }
            
              @media (min-width: 1281px) and (max-width: 1355px) {
                [data-identity='id:p5768539e64523df00b7b311e21d4adf2166aeee0896255a864ef6'] div.cover-rollover {
                  background-image: url('https://pro2-bar-s3-cdn-cf3.myportfolio.com/b44801ef5d32981384edc75f3a2c870b/49a7e1a9-78a7-4c7f-b8b6-f08ed5a7bfb3_rwc_0x-567x3215x3215x1366.png?h=3118af10c7dac41110b439a64cf23ad0');
                }
              }
            
              @media (min-width: 1355px) and (max-width: 1920px) {
                [data-identity='id:p5768539e64523df00b7b311e21d4adf2166aeee0896255a864ef6'] div.cover-rollover {
                  background-image: url('https://pro2-bar-s3-cdn-cf3.myportfolio.com/b44801ef5d32981384edc75f3a2c870b/49a7e1a9-78a7-4c7f-b8b6-f08ed5a7bfb3_rwc_0x-567x3215x3215x1920.png?h=95b26ff37ff486773503727ea697b302');
                }
              }
            
              @media (min-width: 1921px) and (max-width: 2560px) {
                [data-identity='id:p5768539e64523df00b7b311e21d4adf2166aeee0896255a864ef6'] div.cover-rollover {
                  background-image: url('https://pro2-bar-s3-cdn-cf3.myportfolio.com/b44801ef5d32981384edc75f3a2c870b/49a7e1a9-78a7-4c7f-b8b6-f08ed5a7bfb3_rwc_0x-567x3215x3215x2560.png?h=65568563a4c97bcb6217b66bffe72fde');
                }
              }
            </style>
            <div class="cover cover-rollover"></div>
            <style>
              @media (min-width: 0) {
                [data-identity='id:p5768539e64523df00b7b311e21d4adf2166aeee0896255a864ef6'] div.cover-normal {
                  background-image: url('../assets/blank.png');
                }
              }
            
              @media (max-width: 640px) {
                [data-identity='id:p5768539e64523df00b7b311e21d4adf2166aeee0896255a864ef6'] div.cover-normal {
                  background-image: url('../assets/blank.png');
                }
              }
            </style>
            <div class="cover cover-normal has-rollover">
              <div class="title">Go 官方 Tour 小记</div>
            </div>
          </div>
        </div>
      <div class="details-wrap">
        <div class="details">
          <div class="details-inner">
          </div>
        </div>
      </div>
    </a>
    <a decorator="editable" class="project-cover hold-space has-rollover" href="/aspiration-bank-app" data-context="pages" data-identity="id:p5768539e64523df00b7b311e21d4adf2166aeee0896255a864ef6">
      <div class="cover-image-wrap">
        <div class="cover-image">
          <div class="cover cover-rollover"></div>
          <div class="cover cover-normal has-rollover"></div>
        </div>
      </div>
      <div class="details-wrap">
        <div class="details">
          <div class="details-inner">
          </div>
        </div>
      </div>
    </a>
    <a decorator="editable" class="project-cover hold-space has-rollover" href="/aspiration-bank-app" data-context="pages" data-identity="id:p5768539e64523df00b7b311e21d4adf2166aeee0896255a864ef6">
      <div class="cover-image-wrap">
        <div class="cover-image">
          <div class="cover cover-rollover"></div>
          <div class="cover cover-normal has-rollover"></div>
        </div>
      </div>
      <div class="details-wrap">
        <div class="details">
          <div class="details-inner">
          </div>
        </div>
      </div>
    </a>
    <a decorator="editable" class="project-cover hold-space has-rollover" href="/aspiration-bank-app" data-context="pages" data-identity="id:p5768539e64523df00b7b311e21d4adf2166aeee0896255a864ef6">
      <div class="cover-image-wrap">
        <div class="cover-image">
          <div class="cover cover-rollover"></div>
          <div class="cover cover-normal has-rollover"></div>
        </div>
      </div>
      <div class="details-wrap">
        <div class="details">
          <div class="details-inner">
          </div>
        </div>
      </div>
    </a>
    <a decorator="editable" class="project-cover hold-space has-rollover" href="/aspiration-bank-app" data-context="pages" data-identity="id:p5768539e64523df00b7b311e21d4adf2166aeee0896255a864ef6">
      <div class="cover-image-wrap">
        <div class="cover-image">
          <div class="cover cover-rollover"></div>
          <div class="cover cover-normal has-rollover"></div>
        </div>
      </div>
      <div class="details-wrap">
        <div class="details">
          <div class="details-inner">
          </div>
        </div>
      </div>
    </a>
    <a decorator="editable" class="project-cover hold-space has-rollover" href="/aspiration-bank-app" data-context="pages" data-identity="id:p5768539e64523df00b7b311e21d4adf2166aeee0896255a864ef6">
      <div class="cover-image-wrap">
        <div class="cover-image">
          <div class="cover cover-rollover"></div>
          <div class="cover cover-normal has-rollover"></div>
        </div>
      </div>
      <div class="details-wrap">
        <div class="details">
          <div class="details-inner">
          </div>
        </div>
      </div>
    </a>
    <a decorator="editable" class="project-cover hold-space has-rollover" href="/aspiration-bank-app" data-context="pages" data-identity="id:p5768539e64523df00b7b311e21d4adf2166aeee0896255a864ef6">
      <div class="cover-image-wrap">
        <div class="cover-image">
          <div class="cover cover-rollover"></div>
          <div class="cover cover-normal has-rollover"></div>
        </div>
      </div>
      <div class="details-wrap">
        <div class="details">
          <div class="details-inner">
          </div>
        </div>
      </div>
    </a>
    <a decorator="editable" class="project-cover hold-space has-rollover" href="/aspiration-bank-app" data-context="pages" data-identity="id:p5768539e64523df00b7b311e21d4adf2166aeee0896255a864ef6">
      <div class="cover-image-wrap">
        <div class="cover-image">
          <div class="cover cover-rollover"></div>
          <div class="cover cover-normal has-rollover"></div>
        </div>
      </div>
      <div class="details-wrap">
        <div class="details">
          <div class="details-inner">
          </div>
        </div>
      </div>
    </a>
    <a decorator="editable" class="project-cover hold-space has-rollover" href="/aspiration-bank-app" data-context="pages" data-identity="id:p5768539e64523df00b7b311e21d4adf2166aeee0896255a864ef6">
      <div class="cover-image-wrap">
        <div class="cover-image">
          <div class="cover cover-rollover"></div>
          <div class="cover cover-normal has-rollover"></div>
        </div>
      </div>
      <div class="details-wrap">
        <div class="details">
          <div class="details-inner">
          </div>
        </div>
      </div>
    </a>
    <a decorator="editable" class="project-cover hold-space has-rollover" href="/aspiration-bank-app" data-context="pages" data-identity="id:p5768539e64523df00b7b311e21d4adf2166aeee0896255a864ef6">
      <div class="cover-image-wrap">
        <div class="cover-image">
          <div class="cover cover-rollover"></div>
          <div class="cover cover-normal has-rollover"></div>
        </div>
      </div>
      <div class="details-wrap">
        <div class="details">
          <div class="details-inner">
          </div>
        </div>
      </div>
    </a>
  </section>
</main>