<div class="sidebar-content">
<header class="site-header">
  <div class="logo-wrap" decorator="editable">
    <div class="logo logo-image ">
      <a href="/" class="image-normal image-link">
        <img src="https://pro2-bar-s3-cdn-cf4.myportfolio.com/b44801ef5d32981384edc75f3a2c870b/f78c86f3-1759-4c4d-80ad-779f0ad05a6d_rwc_0x0x410x530x410.png?h=4345672b9b9314c7e1e3b2b62e7f40b8"
          alt="Ross Langley">
      </a>
    </div>
  </div>
  <div class="hamburger-click-area js-hamburger">
    <div class="hamburger">
      <i></i>
      <i></i>
      <i></i>
    </div>
  </div>
</header>
<nav decorator="editable">
  <ul class="group">
    <li class="gallery-title" *ngFor="let menu of menus">
      <a href="{{menu.url}}" class="active">{{menu.label}}</a>
    </li>
    <!-- <li class="project-title">
      <a href="/aspiration-bank-app">Just an example of inactive</a>
    </li> -->
  </ul>
  <div class="page-title">
    <a href="https://github.com/Kydz">About</a>
  </div>
  <div class="social nav-social">
    <ul>
      <li>
        <a href="http://www.behance.net/rosscharleslangley" target="_blank">
        </a>
      </li>
      <li>
        <a href="http://www.linkedin.com/in/rosscharleslangley" target="_blank">
        </a>
      </li>
    </ul>
  </div>
</nav>
</div>