@import "../assets/sass/screens.scss";

.sidebar-content {
  @media (max-width: $mediaMedium) {
    display: none;
  }
}

.site-header {
  position: relative;
}

.logo-warp {
  max-width: 100%;
  float: left;
  padding-bottom: 20px;
  padding-top: 60px;
  width: 100%;
}

.logo {
  color: #222;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  padding-bottom: 4px;
  padding-left: 10.5%;
  padding-right: 55%;
  padding-top: 50px;
  text-transform: none;

  img {
    max-width: 100%;
  }
}

.logo-image {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

nav {
  float: none;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 0px;
  padding-top: 35px;
  width: 80%;

  .group {
    padding-bottom: 13px;
    padding-top: 9px;
  }

  .gallery-title {
    padding-bottom: 15px;
    padding-top: 0px;
    text-align: left;
    a {
      color: #222;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 13px;
      text-transform: uppercase;
    }
    a.active {
      color: #222;
      font-style: normal;
      font-weight: 700;
      text-transform: uppercase;
    }
  }

  .project-title {
    padding-bottom: 4px;
    padding-top: 0px;
    text-align: left;
    a {
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 18px;
    }
    a {
      color: #898989;
      transition: 0.2s ease;
    }
    &:hover {
      a {
        transition: 0.2s ease;
        color: #222;
      }
    }
  }

  .page-title {
    padding-bottom: 0px;
    padding-top: 30px;
    text-align: left;
    a {
      color: #333333;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 10px;
      text-transform: uppercase;
    }
  }
}

ul {
  margin: 0px;
  padding: 0px;
  li {
    list-style-type: none;
  }
}
