@import "../../../../assets/sass/colors";
@import "../../../../assets/sass/screens";

main {
  article {
    header {
      h1 {
        text-align: center;
        font-size: 4rem;
      }

      p {
        color: $littleDark;
      }
    }

    section {
      margin-top: 5rem;
      border-top: 1px $light solid;
    }
  }
}

footer {
  margin: 5rem 0;
  display: flex;
  justify-content: space-between;
  a {
    cursor: pointer;
  }
}
