@import "../../../../assets/sass/colors";
@import "../../../../assets/sass/screens";

main {
  article {
    header {
      h1 {
        text-align: center;
        font-size: 4rem;
      }

      p {
        color: $littleDark;
      }
    }

    section {
      margin-top: 5rem;
      border-top: 1px $light solid;
      min-height: 20rem;
    }
  }
}

footer {
  margin: 5rem 0;
  display: flex;
  justify-content: space-between;
  a {
    cursor: pointer;
  }
}

@media screen and (max-width: $md){
  main {
    article {
      header {
        h1 {
          font-size: 2rem;
        }
      }
    }
  }
  footer {
    margin: 3rem 0;
  }
}
