/* You can add global styles to this file, and also import other style files */
.link-transition a {
  transition: background 0.2s ease, color 0.2s ease;
}

body {
  background-color: #f9f9f9;
  max-width: 1280px;
}

a {
  text-decoration: none;
  color: #444;
}

img {
  max-width: 100%;
}
html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }
