/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr.css';
@import "./assets/sass/colors";

body {
  width: 100%;
  background-color: $background;
  margin: 0;
}

a {
  text-decoration: none;
  color: #444;
}

img {
  max-width: 100%;
}

html, body {
  height: 100%;
}


article {
  section {
    div {
      p {
        img {
          width: 100%;
        }
      }
    }
  }
}
